<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Tourism on Mars Company - Mars travel details</title>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand white">Tourism on Mars Company</a>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-4">
        <h4 class="d-flex justify-content-between">Mars travel details
            <a href="/spacecraft" class="btn btn-primary float-end">Add Spacecraft</a>
            <a href="/commander" class="btn btn-primary float-end">Add Commander</a>
            <a href="/nav/createTravel" class="btn btn-primary float-end">Add Travel</a>
        </h4>
        <div class="table-responsive">
            <table class="table mt-3 table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data de decolagem</th>
                    <th scope="col">Dias em Marte</th>
                    <th scope="col">Modelo da nave</th>
                    <th scope="col">Assentos disponíveis na nave</th>
                    <th scope="col">Primeiro comandante</th>
                    <th scope="col">Matrícula interespacial</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="travel : ${travels}">
                    <td th:text="${travel.getId()}"></td>
                    <td th:text="${travel.getTakeoffDate()}"></td>
                    <td th:text="${travel.getDaysOnMars()}"></td>
                    <td th:text="${travel.getSpacecraft().getShipModelName()}"></td>
                    <td th:text="${travel.getSpacecraft().getSeatsAvailable()}"></td>
                    <td th:text="${travel.getFirstCommander().getName()}"></td>
                    <td th:text="${travel.getFirstCommander().getInterspaceLicensePlate()}"></td>
                    <td>
                        <a href="/nav/edit" class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/travel/delete/{travelId} (travelId = ${travel.id}) }" class="btn btn-danger btn-sm">Del</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>